.message{
    display: flex;
    flex-grow: 1;
}
.message.outgoing {
    justify-content: flex-end
}
.delete {
    color: red;
    padding-left: 10px;
}
.delete:hover {
    text-decoration: underline;
    cursor: pointer;
}
